:root {
  --maincolor: rgb(248, 238, 238);
}
body {
  background-color: rgb(252, 163, 10);
}
h1 {
  color: var(--maincolor);
  text-align: center;
}
h2 {
  padding: 10px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
}
header pre {
  text-indent: 8em;
  color: rgb(0, 8, 0);
  background-color: brown; 
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
main pre {
  text-indent: 8em;
  text-align:justify;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  border-style: solid;
  border-width: .1px;
  border-radius: 15px;
  background-color: darkmagenta;
  color: white;
}
.box {
  flex: 1 0 0;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
  border-style: dashed;
  border-width: 1px;
  background-color: lightskyblue;
}
main p {
  color: var(--maincolor);
}
main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}
header {
  color: blueviolet;
  background-color: crimson;
}